#latex-ignores

*.aux
*.log
*.lb
*.synctex.gz
*.bbl
*.blg
*.toc

#MAC-Ignores
.DS_Store
*~
~*

#Constantin sometimes saves his commit-messages in this file
commit_msg

#ignore converted-to.pdf files
*converted-to.pdf

#constantins data folder
data_c
